{% load bootstrap_toolkit %}
<html>
  <head>
  <link rel="stylesheet" href="/static/css/jquery.min.css">
  <script src="/static//js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </head>
<body>
<div id="subpart1">
<h1> Visa Form </h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout="vertical" %}
    <div class="form-actions">
      <a id="submit-form" type="submit" class="btn btn-primary">Submit</a>
    </div>
</form>
</div>

<div id="subpart2">

</div>
</body>

<script type='text/Javascript'>

$('#submit-form').click(function() {
  alert("Sending data..")
  // create data object to be streamed to backend..
  var data = {
    "name": $("#id_name").val(),
    "passport": $("#id_passport").val(),
    "dob": $("#id_dob").val(),
    "nationality": $("#id_nationality").val(),
    "gender": $("#id_gender").val()

  };
  console.log(data);
  $.ajax({
    type: "POST",
    url: ".",
    data: data,
    success: function(data) { alert('post succeeded'); alert(data); },
  });

});
</script>

</html>












-->
