{% load bootstrap_toolkit %}
<html>
<head>
  <link rel="stylesheet" href="/static/css/jquery.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <script src="/static/js/loader.js"></script>
</head>
<body>
  <div id="subpart1">
    <h1> Visa Form </h1>
    <form action="." method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form layout="vertical" %}
      <div class="form-actions">
        <a id="submit-form" type="submit" class="btn btn-primary">Submit</a>
      </div>
    </form>
  </div>

  <div id="subpart2">
    <div id="loaderImage" style="display:none;" ></div>
    <div id="table_output" style="height:10em; overlay:scroll-y;">

    </div>
  </div>
</body>

<script type='text/Javascript'>

$('#submit-form').click(function() {
  //alert("Sending request..");
  $("#table_output").hide();
  $("#loaderImage").show();
  // create data object to be streamed to backend..
  var data = {
    "name": $("#id_name").val(),
    "passport": $("#id_passport").val(),
    "dob": $("#id_dob").val(),
    "nationality": $("#id_nationality").val(),
    "gender": $("#id_gender").val(),
    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()

  };
  console.log(data);
  $.ajax({
    type: "POST",
    url: ".",
    data: data,
    success: function(data) {
      $("#loaderImage").hide();
      $("#table_output").html(data);
      $("#table_output").show();

    },
    failure: function(data) { alert('post failed'); alert(data); }

  });

});

// CSRF Protection script .. from https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax
// using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
  // test that a given url is a same-origin URL
  // url could be relative or scheme relative or absolute
  var host = document.location.host; // host + port
  var protocol = document.location.protocol;
  var sr_origin = '//' + host;
  var origin = protocol + sr_origin;
  // Allow absolute or scheme relative URLs to same origin
  return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
  // or any other URL that isn't scheme relative or absolute i.e relative.
  !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
      // Send the token to same-origin, relative URLs only.
      // Send the token only if the method warrants CSRF protection
      // Using the CSRFToken value acquired earlier
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
// end of CSRF Protection script
</script>



</html>
